<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>Help</h1>
    <p>
      Unfortunately, there is nothing we can do. She will be weird forever and always. 
    </p>
  </body>
</html>
